# See https://github.com/hashicorp/terraform-github-actions
---
name: 'terraform-validate'
on:
  - pull_request
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master

      - name: 'Terraform Format'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.20
          tf_actions_subcommand: 'fmt'
          tf_actions_working_dir: '.'
          tf_actions_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Terraform Init'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.20
          tf_actions_subcommand: 'init'
          tf_actions_working_dir: '.'
          tf_actions_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# Not working without 'dummy' provider 
#      - name: 'Terraform Validate'
#        uses: hashicorp/terraform-github-actions@master
#        with:
#          tf_actions_version: 0.12.20
#          tf_actions_subcommand: 'validate'
#          tf_actions_working_dir: '.'
#          tf_actions_comment: true
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
